* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.header {
    border-bottom: 3px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100vh;
}

.title-text {
    color: black;
    font-family: 'Forum', serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.header-icon {
    cursor: pointer;
}

.main {
    /* position: relative; */
    height: 90vh;
}

.registration-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.home-page-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.character-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cce4f7;
    border-radius: 6px;
    background-color: #fff;
    font-size: 14px;
    transition: border-color 0.3s;
    box-sizing: border-box;
    margin: 15px 0;
}

input[type="text"]:focus {
    border-color: #99c8f5;
    outline: none;
    box-shadow: 0 0 4px rgba(153, 200, 245, 0.5);
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-small {
    width: 7%;
}

.button:hover {
    background-color: #e0e0e0;
}

.hidden {
    display: none;
}

.character-list {
    display: flex;
    gap: 10px;
}

.character {
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
    border-radius: 6px;
}

.character:hover {
    filter: brightness(0.6);
    transform: scale(1.07);
}

.character::after {
    content: "✏️";
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    transition: 0.3s ease;
    font-size: 18px;
}

.character:hover::after {
    opacity: 1;
}

.selected-character img {
    width: 300px;
    height: 300px;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.selected-character img:hover {
    filter: brightness(0.8);
}

.player-info {
    margin-top: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.player-info .player-input {
    width: 14%;
    margin: 5px 0;
    margin-right: 10px;
}

.player-name {
    margin-right: 10px;
}

.stats {
    font-size: 18px;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}

.wins {
    color: green;
    font-weight: bold;
}

.losses {
    color: red;
    font-weight: bold;
}